@model RIESGOS_Y_RESPUESTAS.Models.Activo

@{
    ViewData["Title"] = "Create";
}


<h1 class="text-center mt-4">Registro de Activos Nuevos</h1>
<hr />
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-lg rounded-4 border-0">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">Crear Nuevo Registro de Activos</h2>

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!--implementos-->
                        <div class="mb-3">
                            <div class="form-group mb-4 position-relative">
                                <label asp-for="Implementos" class="form-label">Implementos <i class="bi bi-tools"></i></label>
                                <div class="input-group">
                                    <span class="input-group-text bg-light"><i class="bi bi-tools"></i></span>
                                    <input asp-for="Implementos" class="form-control" placeholder="Ingresa los implementos" />
                                </div>
                                <span asp-validation-for="Implementos" class="text-danger"></span>
                            </div>
                        </div>

                        <!--tipo de activo-->
                        <div class="mb-3">
                            <div class="form-group mb-4 position-relative">
                                <label asp-for="TiposDeActivosIdtipos" class="form-label">Tipo de Activo <i class="bi bi-file-earmark-text"></i></label>
                                <div class="input-group">
                                    <span class="input-group-text bg-light"><i class="bi bi-file-earmark-text"></i></span>
                                    <input asp-for="TiposDeActivosIdtipos" class="form-control" placeholder="Ingresa el tipo de activo" />
                                </div>
                                <span asp-validation-for="TiposDeActivosIdtipos" class="text-danger"></span>
                            </div>
                        </div>

                        <!--coste activo-->
                        <div class="mb-3">
                            <div class="form-group mb-4 position-relative">
                                <label asp-for="CosteActivos" class="form-label fw-bold">Coste del Activo <i class="bi bi-cash"></i></label>
                                <div class="input-group">
                                    <span class="input-group-text bg-light"><i class="bi bi-cash"></i></span>
                                    <input asp-for="CosteActivos" class="form-control" placeholder="Ingresa el coste del activo"
                                           type="number" step="0.01" min="0" />
                                </div>
                                <span asp-validation-for="CosteActivos" class="text-danger"></span>
                            </div>
                        </div>

                        <!--cantidad-->
                        <div class="mb-3">
                            <div class="form-group mb-4 position-relative">
                                <label asp-for="Cantidad" class="form-label fw-bold">Cantidad <i class="bi bi-box"></i></label>
                                <div class="input-group">
                                    <span class="input-group-text bg-light"><i class="bi bi-box"></i></span>
                                    <input asp-for="Cantidad" class="form-control" placeholder="Ingresa la cantidad" />
                                </div>
                                <span asp-validation-for="Cantidad" class="text-danger"></span>
                            </div>
                        </div>

                         <!--municipalidad-->
                        <div class="mb-3">
                            <div class="form-group mb-4 position-relative">
                                <label asp-for="Idmunicipalidad" class="form-label fw-bold">Municipalidad <i class="bi bi-house"></i></label>
                                <div class="input-group">
                                    <span class="input-group-text bg-light"><i class="bi bi-house"></i></span>
                                    <select asp-for="Idmunicipalidad" class="form-select" asp-items="ViewBag.Idmunicipalidad">
                                        <option value="" disabled selected>Selecciona una municipalidad</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Botones -->
                        <div class="text-center mt-4">
                            <input type="submit" value="Crear Registro" class="btn btn-success btn-lg me-2" 
                               onclick="return confirm('Por favor, revise los datos ingresados. Si son correctos, haga clic en Aceptar para guardarlos. Si necesita hacer cambios, haga clic en Cancelar .');" />
                            <a asp-action="Index" class="btn btn-secondary btn-lg"
                               onclick="return confirm('¿Estás seguro de que deseas volver a la lista?');">Volver a la Lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="back-to-home-container">
    <a asp-controller="Home" asp-action="Index" class="btn-custom">
        <i class="fas fa-home align-content-center"></i> Volver a Inicio
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}